!!! 5
%html
  %head
    %title title
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
    = stylesheet_link_tag "styles"
    = yield_content :head

  %body{:class => page_classes}
    #container
      %header
        %h1 jquery.positioner test page
      
      #main{:role => "main"}
        = yield

      %footer
        footer

    
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    = javascript_include_tag "app"
    = javascript_include_tag "jquery.positioner"
    :javascript
      $(function(){
        new PageController();
      })
    = yield_content :js

